# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
.env

# Test/Coverage
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/

# Logi i stan aplikacji
*.log
.last_inputs.json
last_inputs.json

# Build
build/
dist/
*.tmp
*.bak

# IDE
.vscode/
.idea/
*.code-workspace

# System
.DS_Store
Thumbs.db
